
html{
    height: 100%;
    background-color: var(--bg-dark);
    background: var(--bg-grad);
    background-repeat: no-repeat;
    color: var(--text);
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--bg-dark);
    background: var(--bg-grad);
    background-size: cover;
    background-attachment: scroll;
    color: var(--text);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(10px, 1.5vw, 500px);
    margin: 0;
}

#root {
    min-height: 100%;
}

img {
    border-radius: clamp(10px, 5vw, 100px);
    width: clamp(20%, 5vw, 350px);
    height: min(20%, 350px);
}

hr{
    background-color: var(--text-muted);
    border-color: var(--text-muted);
    color: var(--text-muted);
}

h3 h1 {
    font-size: clamp(10px, 1.5vw, 500px);
    font-family: inherit;
}

