/* This file is for the grids and formats ideally */
@import url('./css/variables.css');
@import url('./css/navigation.css');
@import url('./css/hovers.css');
@import url('./css/elements.css');
@import url('./css/animations.css');
@import url('./css/classes.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

